@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Regular.eot');
    src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
      url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
      url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
      url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
  }
  
  
  @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
  }
  
 /*specific css  */
  .wrapper{
    margin: 0 75px;
  }

  .words-of-commitment{
    margin: 60px 0;
  }

  .empower {
    text-align: center;
  }
  
  .empower span {
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: black;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
  }

  .section-one .card-body,
  .section-six .card-body{
    margin: 15px 0;
  }

  .section-two, .section-three, .section-four, .section-five, .section-six, .socials{
    margin: 60px 0;
  }
  .section-two .stats{
    margin: 30px 0;
  }

  footer {
    background-color: #f2f2f2;
    padding: 60px 0 10px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 75px;
    /* text-align: center; */
  }
  footer img{
    height: 50px !important;
  }

  /* responsive */

  /* mobile */
  @media(max-width: 425px){
    .wrapper{
        margin: 0 5px;
    }
    
    footer{
        padding: 50px 0;
    /* text-align: center; */
    }
  }
  /* mobile */

  /* tablet */
  @media(min-width: 425px) and (max-width: 768){
    .wrapper{
        background-color: red;
    }
  }
  /* tablet */

  /* responsive */


