.wrapper{
    margin: 0 75px;
}

.section-one, 
.section-two, 
.section-three,
.section-four,
.socials{
    margin: 50px 0;
}

.section-one .row img{
    max-width: 8%;
    height: auto;
}

.section-three .row .card-body{
    margin: 20px 0;
}

footer {
    background-color: #f2f2f2;
    padding: 60px 0 10px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 75px;
    /* text-align: center; */
  }
  footer img{
    height: 50px !important;
  }

  /* responsive */
  /* mobile */
  @media(max-width: 425px){
    .wrapper{
        margin: 0 5px;
    }
    
    footer{
        padding: 50px 0;
    /* text-align: center; */
    }
  }
  /* mobile */

  /* tablet */
  @media(min-width: 426px) and (max-width: 768px){
    .wrapper{
        margin: 0 5px;
    }

    .section-three .row img{
        height: 200px;
    }

    footer{
      padding: 50px 0;
  /* text-align: center; */
    }
  }
  /* tablet */

    /* laptop */
    @media(min-width: 768px) and (max-width: 1024px){
        .wrapper{
            margin: 0 30px;
        }
    
        .section-three img{
            height: 200px;
        }
    
        footer{
            padding: 50px 0;
        }
        
      }
      /* laptop */

  /* responsive */