@font-face {
  font-family: "Fira Sans";
  src: url('fonts/fira/eot/FiraSans-Regular.eot');
  src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
    url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
    url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
    url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
}


* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.wrapper {
  margin: 0 75px;
}

p {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.9rem;
}

a {
  font-family: 'Segoe UI', Arial, sans-serif;
  /* font-weight: bold; */
  color: #0067B8;
}

.btn,
.form-control {
  border-radius: 0;
}

.navbar-brand img {
  height: 2rem;
}

.nav-item a {
  font-size: 0.9rem;
}

.navbar-nav .nav-item {
  margin-right: 20px;
  /* Adjust as needed */
}

.btn-donate {
  text-decoration: none;
  border: 1px solid black;
  /* Keep the border */
  border-radius: 5px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  font-size: 0.9rem;
}

.btn-donate:hover {
  text-decoration: underline;
  border-color: black;
  /* Keep the border color transparent */
  color: inherit;
  /* To prevent color change on hover */
}

h5 span {
  color: #00afef;
  font-size: 2rem;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.technical_billings{
  padding: 20px 213px;
  margin: 30px 0;
}

footer {
  background-color: #f2f2f2;
}


/* RESPONSIVENESS */

/* extra-small screens */
@media (max-width: 575.98px) {
  .wrapper {
    margin: 0 0rem;
  }

  .technical_billings{
    padding: 10px 20px;
    margin: 5px 0;
  }

  .help{
    margin: 0 0;
  }
}

/* small screens */
@media (min-width: 576px) and (max-width: 768px){
  .wrapper {
    margin: 0 0rem;
  }

  .technical_billings{
    padding: 10px 20px;
    margin: 5px 0;
  }

  .help{
    margin: 0 0;
  }
}

/* medium screens */
@media (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    margin: 0 0rem;
  }

  .technical_billings{
    padding: 10px 20px;
    margin: 5px 0;
  }

  .help{
    margin: 0 0;
  }
}

/* large screens */
@media (min-width: 992px) and  (max-width: 1406px) {
  .wrapper {
    margin: 0 100px;
  }

  .technical_billings{
    padding: 10px 20px;
    margin: 5px 0;
  }

  .help{
    margin: 30px 0;
  }

}

