.banner {
    margin-top: 15px;
    margin-bottom: 0px;
    height: 300px;
    background-image: url('../images/history001.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the container is positioned relative */
  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .banner div {
    position: relative; /* Ensure the text container is positioned relative */
    padding: 20px;
    color: white;
  }
  
  .banner h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .banner p {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
  }

.wrapper{
    margin: 0 75px;
}

.section-one, .section-two, 
.section-three, 
.section-three, 
.section-four, 
.section-five{
    margin: 50px 0;
}

.section-one .row{
    margin: 50px 0;
}
.section-one .row img {
    height: 400px;
    width: 400px;
}
.section-one .row h4{
    font-size: 22px;
    margin: 10px 0;
}
.section-one .row p,
.section-one .row i{
   color: #797878e6;
}

.section-two .leader-picture img{
    height: 400px;
    width: 400px;
}
.section-two .leader-picture .item h4{
    margin: 10px 0;
}
.section-two .leader-picture .item p{
    color: #797878e6;
}

.section-three .row{
    margin: 50px 0;
}
.section-three .row img {
    height: 400px;
    width: 400px;
}
.section-three .row h4{
    font-size: 22px;
    margin: 10px 0;
}
.section-three .row p,
.section-thee .row i{
   color: #797878e6;
}


.section-four .board-picture img{
    height: 400px;
    width: 400px;
}
.section-four .leader-picture .item h4{
    margin: 10px 0;
}
.section-four .leader-picture .item p{
    color: #797878e6;
}

footer {
    background-color: #f2f2f2;
    padding: 60px 0 10px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 75px;
    /* text-align: center; */
}
footer img{
    height: 50px !important;
}

  /* responsive */

/* For very small screens (e.g., older smartphones, budget devices) */
@media only screen and (min-width: 200px) and (max-width: 320px) {
    .banner{
        justify-content: center;
    }

    .banner div {
        position: relative; /* Ensure the text container is positioned relative */
        padding: 20px;
        color: white;
        text-align: center;
      }
    
    .wrapper{
        margin: 0 5px;
    }

    .section-one .row img,
    .section-three .row img{
        height: 100px;
        width: 80px;
    }
    .section-one .row h4
    .section-three .row h4{
        font-size: 15px;
    }

    footer{
        padding: 50px 0;
    }
}
  
/* For small to medium-sized screens (e.g., some older iPhones, smaller Android devices) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .banner{
        justify-content: center;
    }

    .banner div {
        position: relative; /* Ensure the text container is positioned relative */
        padding: 20px;
        color: white;
        text-align: center;
    }
    
    .wrapper{
        margin: 0 5px;
    } 
    
    .section-one .row img,
    .section-three .row img{
        height: 300px;
        width: 300px;
    }

    .section-two .row img,
    .section-four .row img{
        width: 150px;
        height: 150px;
        float: left;
    }

    .section-two .row .leader-picture,
    .section-four .row .board-picture{
        margin: 20px 0;
    } 

    .section-two .row .item,
    .section-four .row .item{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .section-two .row .item .leader-info,
    .section-four .row .item .board-info{
        margin: 0 15px;
    }

    footer{
        padding: 50px 0;
    }
}
  
/* For medium-sized screens (e.g., standard smartphones) */
@media only screen and (min-width: 481px) and (max-width: 640px) {
    .banner{
        justify-content: center;
    }
    .banner div {
        position: relative; /* Ensure the text container is positioned relative */
        padding: 20px;
        color: white;
        text-align: center;
    }
    
    .wrapper{
        margin: 0 5px;
    }

    
    .section-one .row img,
    .section-three .row img{
        height: 200px;
        width: 180px;
    }

    .section-two .row img,
    .section-four .row img{
        width: 200px;
        height: 200px;
        float: left;
    }

    .section-two .row .leader-picture,
    .section-four .row .board-picture{
        margin: 20px 0;
    } 

    .section-two .row .item,
    .section-four .row .item{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .section-two .row .item .leader-info,
    .section-four .row .item .board-info{
        margin: 0 15px;
    }

    footer{
        padding: 50px 0;
    }
}
  
/* For larger screens (e.g., phablets) */
@media only screen and (min-width: 641px) and (max-width: 800px) {
    .wrapper{
        margin: 0 30px;
    }

    .section-one .row img,
    .section-three .row img{
        height: 300px;
        width: 220px;
    }

    .section-two .row img,
    .section-four .row img{
        width: 220px;
        height: 250px;
    }
}
  
/* For extra-large screens (e.g., tablets) */
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .wrapper{
        margin: 0 30px;
    }

    .section-one .row img,
    .section-three .row img{
        height: 300px;
        width: 230px;
    }

    .section-two .row img,
    .section-four .row img{
        width: 220px;
        height: 250px;
    }

    .section-two .leader-writeup p,
    .section-two .board-writeup p{
        text-align: justify;
    }
}

/* For larger screens (e.g., larger laptops, desktop monitors) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .section-one .row img,
    .section-three .row img{
        height: 300px;
        width: 250px;
    }
    
    .section-two .leader-writeup,
    .section-four .board-writeup{
        width: 60%;
        text-align: justify;
    }
}

/* For extra-large screens (e.g., large monitors, wide desktop screens) */
@media only screen and (min-width: 1281px) {
    .section-one .row img,
    .section-three .row img{
        height: 300px;
        width: 270px;
    }
    
    .section-two .leader-writeup,
    .section-four .board-writeup{
        width: 60%;
        text-align: justify;
    }
}