.wrapper{
    margin: 0 75px;
}

.section-one,
.section-two,
.section-four,
.section-five,
.section-six,
.section-seven,
.section-eight,
.section-nine,
.section-ten{
    margin: 70px 0;
}

.words-of-commitment{
    margin: 60px 0;
  }

  .empower {
    text-align: center;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
  }

  .section-two .row .card-body,
  .section-four .row .card-body,
  .section-seven .row .card-body {
    margin: 20px 0;
  }

  .catalyst {
    background-color: #0067B8;
    margin: 100px 0;
    padding: 80px 0;
  }

  .events{
    padding: 0 0;
  }

  .events-container {
    min-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper{
    background-color: #fff;
  }

  .tab-header{
    position: relative;
    display: flex;
    align-items:baseline;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  .tab-header .tab-btn{
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    transition: all 0.3s ease;
  }

  .tab-header .tab-btn:hover,
.tab-header .tab-btn.active{
  color: rgba(0, 0, 0, 0.8);  
}

.tab-header .underline{
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 2px;
    width: 0;
    transition: all 0.3s;
    background-color:  #0067B8;
  }

  .tab-body .tab-content{
    min-width: 100%;
    padding: 0px;
    font-size: 12px;
    transition: all 0.3s;
    text-align: justify; 
  }

  .events{
    padding: 120px 0;
  }

  /*  */
  .events-container {
    min-width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* padding: 0 120px; */
  }
 
.tab-wrapper{
    background-color: #fff;
  }

  .tab-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    border-bottom: 1px solid #e5e5e5;
  }

  .tab-header .tab-btn{
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  .tab-header .tab-btn:hover,
.tab-header .tab-btn.active{
  color: #0067B8;  
}

.tab-header .underline{
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 0;
    transition: all 0.3s;
    background-color:  #0067B8;
  }

  .tab-body{
    display: flex;
    overflow: hidden;
  }

  .sponsors img {
    height: 200px;
    width: 200px;
  }

  footer {
    background-color: #f2f2f2;
    padding: 60px 0 10px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 75px;
    /* text-align: center; */
  }
  footer img{
    height: 50px !important;
  }

    /* responsive */
/* For very small screens (e.g., older smartphones, budget devices) */
@media only screen and (min-width: 200px) and (max-width: 320px) {
    
}
  
  /* For small to medium-sized screens (e.g., some older iPhones, smaller Android devices) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .wrapper{
      margin: 0 5px;
    }

    .carousel_slide {
      overflow: hidden;
      position: relative;
      height: 11rem;
    }

    .empower .row h2 {
      text-align: center;
    }
    
    .empower .empower_facio {
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      line-height: normal;
      margin: 10px 0;
      text-align: justify;
    }

    .section-two .row p{
      text-align: justify;
    }

    .catalyst{
      padding: 40px 10px;
    }

    .section-four .row img,
    .section-seven .row img{
      height: 200px;
    }
    .section-four .row p{
      text-align: justify;
    }

    .tab-header .tab-btn{
      font-size: 15px;
    }

    .section-nine .row .col-sm-12 h6,
    .section-nine .row .col-sm-12 h4{
      text-align: center;
    }
    .section-nine .row .col-sm-12 p{
      text-align: justify;
    }
    .section-nine img{
      height: 80px;
      width: 80px;
      margin: 2px;
    }

    footer{
      padding: 30px 0;
    }
}
  
  /* For medium-sized screens (e.g., standard smartphones) */
@media only screen and (min-width: 481px) and (max-width: 660px) {
  .wrapper{
    margin: 0 5px;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 15rem;
  }

  .empower .row h2 {
    text-align: center;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
    text-align: justify;
  }

  .section-two .row p{
    text-align: justify;
  }

  .catalyst{
    padding: 40px 10px;
  }
  .catalyst p{
    text-align: center;
  }

  .section-four .row img,
  .section-seven .row img{
    height: 300px;
  }
  .section-four .row p{
    text-align: justify;
  }

  .tab-header .tab-btn{
    font-size: 15px;
  }

  .section-nine .row .col-sm-12 h6,
  .section-nine .row .col-sm-12 h4{
    text-align: center;
  }
  .section-nine .row .col-sm-12 p{
    text-align: justify;
  }
  .section-nine img{
    height: 150px;
    width: 150px;
    margin: 2px;
  }

  footer{
    padding: 30px 0;
  }
}
  
  /* For larger screens (e.g., phablets) */
@media only screen and (min-width: 661px) and (max-width: 800px) {
  .wrapper{
    margin: 0 20px;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 25rem;
  }

  .empower .row h2 {
    text-align: center;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
    text-align: justify;
  }

  .section-two .row p{
    text-align: justify;
  }

  .catalyst{
    padding: 40px 10px;
  }
  .catalyst p{
    text-align: center;
  }

  .section-four .row img,
  .section-seven .row img{
    height:200px;
  }
  .section-four .row p{
    text-align: justify;
  }

  .section-five .row h2,
  .section-five .row .transform-text{
    text-align: center;
  }

  .tab-header .tab-btn{
    font-size: 15px;
  }

  .section-nine .row .col-sm-12 h6,
  .section-nine .row .col-sm-12 h4{
    text-align: left;
    font-size: 15px;
  }
  .section-nine .row .col-sm-12 p{
    text-align: justify;
  }
  .section-nine img{
    height: 100px;
    width: 100px;
    margin: 2px;
  }

  footer{
    padding: 30px 0;
  } 
}
  
  /* For extra-large screens (e.g., tablets) */
@media only screen and (min-width: 801px) and (max-width: 1024px){
  .wrapper{
    margin: 0 20px;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 25rem;
  }

  .empower .row h2 {
    text-align: center;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
    text-align: justify;
  }

  .section-two .row p{
    text-align: justify;
  }

  .catalyst{
    padding: 40px 10px;
  }
  .catalyst p{
    text-align: center;
  }

  .section-four .row img,
  .section-seven .row img{
    height:200px;
  }
  .section-four .row p{
    text-align: justify;
  }

  .section-five .row h2,
  .section-five .row .transform-text{
    text-align: center;
  }

  .tab-header .tab-btn{
    font-size: 15px;
  }

  .section-nine .row .col-sm-12 h6,
  .section-nine .row .col-sm-12 h4{
    text-align: left;
    font-size: 15px;
  }
  .section-nine .row .col-sm-12 p{
    text-align: justify;
  }
  .section-nine img{
    height: 100px;
    width: 100px;
  }

  footer{
    padding: 30px 0;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) and (orientation: portrait) {
  .wrapper{
    margin: 0 20px;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 25rem;
  }

  .empower .row h2 {
    text-align: center;
  }
  
  .empower .empower_facio {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: normal;
    margin: 10px 0;
    text-align: justify;
  }

  .section-two .row p{
    text-align: justify;
  }

  .catalyst{
    padding: 40px 10px;
  }
  .catalyst p{
    text-align: center;
  }

  .section-four .row img,
  .section-seven .row img{
    height:200px;
  }
  .section-four .row p{
    text-align: justify;
  }

  .section-five .row h2,
  .section-five .row .transform-text{
    text-align: center;
  }

  .tab-header .tab-btn{
    font-size: 15px;
  }

  .section-nine .row .col-sm-12 h6,
  .section-nine .row .col-sm-12 h4{
    text-align: left;
    font-size: 15px;
  }
  .section-nine .row .col-sm-12 p{
    text-align: justify;
  }
  .section-nine img{
    height: 100px;
    width: 100px;
  }

  footer{
    padding: 30px 0;
  }
}

    /* For larger screens (e.g., larger laptops, desktop monitors) */

    @media only screen and (min-width: 1025px) and (max-width: 1192px) {
      .section-nine img{
       height: 150px;
       width: 150px;
       margin: 2px;
     }
   }

@media only screen and (min-width: 1193px) and (max-width: 1280px) {
   .section-nine img{
    height: 200px;
    width: 200px;
    margin: 2px;
  }
}

    /* For extra-large screens (e.g., large monitors, wide desktop screens) */
@media only screen and (min-width: 1281px) {

  .catalyst p{
    text-align: center;
  }

    .section-nine img{
      height: 200px;
      width: 200px;
      margin: 2px;
    }
}