.owl-prev {
  left: 0;
  position: absolute; 
  font-size: 100px !important;
  font-weight: 100 !important;
  color: #9d9d9d !important;/* Change position to absolute or relative */
}

.owl-next {
  right: 0;
  position: absolute;
  font-size: 100px !important;
  font-weight: 100 !important;
  color: #9d9d9d !important; /* Change position to absolute or relative */
}

.owl-carousel .owl-stage-outer{
  margin: 0 30px !important;
}

.owl-theme .owl-nav [class*=owl-]{
  transition: all 0.3s ease-in-out !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
  color: #686868 !important;
  text-decoration: none !important;
}