.banner {
    margin-top: 15px;
    margin-bottom: 0px;
    height: 300px;
    background-image: url('../images/legal.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the container is positioned relative */
  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .banner div {
    position: relative; /* Ensure the text container is positioned relative */
    padding: 20px;
    color: white;
  }
  
  .banner h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .banner p {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
  }

.wrapper{
    margin: 0 75px;
}

.section-one{
    margin: 70px 0;
}
.section-one a{
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #f2f2f2;
    padding: 60px 0 10px 0;
    align-items: center;
    justify-content: center;
    padding: 30px 75px;
    /* text-align: center; */
}
footer img{
    height: 50px !important;
}

    /* responsive */
/* For very small screens (e.g., older smartphones, budget devices) */
@media only screen and (min-width: 200px) and (max-width: 320px) {
    
}
  
  /* For small to medium-sized screens (e.g., some older iPhones, smaller Android devices) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .banner{
        justify-content: center;
    }
    .banner div {
        position: relative; /* Ensure the text container is positioned relative */
        padding: 20px;
        color: white;
        text-align: center;
    }
    
    .wrapper{
        margin: 0 5px;
    }

    footer{
        padding: 50px 0;
    }

}
  
  /* For medium-sized screens (e.g., standard smartphones) */
@media only screen and (min-width: 481px) and (max-width: 640px) {
    .banner{
        justify-content: center;
    }
    .banner div {
        position: relative; /* Ensure the text container is positioned relative */
        padding: 20px;
        color: white;
        text-align: center;
    }
    
    .wrapper{
        margin: 0 5px;
    }

    footer{
        padding: 50px 0;
    }
}
  
  /* For larger screens (e.g., phablets) */
@media only screen and (min-width: 641px) and (max-width: 800px) {
    
}
  
  /* For extra-large screens (e.g., tablets) */
@media only screen and (min-width: 801px) and (max-width: 1024px) {

}

    /* For larger screens (e.g., larger laptops, desktop monitors) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
   
}

    /* For extra-large screens (e.g., large monitors, wide desktop screens) */
@media only screen and (min-width: 1281px) {
    
}