@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Regular.eot');
    src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
    }
    

@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
    }
    

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
    }
    

@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
    }


*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.wrapper{
  margin: 0 9rem;
}

p{
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.9rem;  
}

a{
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: bold;
}

.navbar-brand img{
  height: 2rem;
}

.nav-item a{
  font-size: 0.9rem;
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Adjust as needed */
}

.btn-donate {
  text-decoration: none;
  border: 1px solid black; /* Keep the border */
  border-radius: 5px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  font-size: 0.9rem;
}

.btn-donate:hover {
  text-decoration: underline;
  border-color: black; /* Keep the border color transparent */
  color: inherit; /* To prevent color change on hover */
}

h5 span{
    color: #00afef;
    font-size: 2rem;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.carousel_slide {
    overflow: hidden;
    position: relative;
    height: 40rem; /* Set the height of the carousel to 500px */
  }
  
  .carousel-inner {
    width: 100%;
    height: 100%; /* Ensure the carousel inner takes full height of the parent carousel */
  }
  
  .carousel-item {
    height: 100%; /* Set the height of each carousel item to 100% */
  }
  
  .carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;  /* Maintain aspect ratio and cover the entire area */
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1;
  }

  .carousel-caption {
    z-index: 20; /* Ensure captions are displayed above the overlay */
  }

  .empower{
    font-size: 1.5rem;
  }

  .empower span{
    font-weight: bold;
    color: #00afef;
  }

  .empower .empower_facio{
    font-size: 0.9rem;
  }

  .catalyst{
    background-color: #0067B8;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

  /* .join_us{
    background-color: white;
    color: #00afef;
  } */

  .sponsors img{
    height: 10rem;
    width: 20rem;
  }

  footer{
    background-color: #0067B8;
  }

  /* Contact Us Page*/
  .banner {
    height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    position: relative;
}

.tech-bill{
  background-color: #f2f2f2;
}

.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
}

  
@media only screen and (max-width: 481px){
  .wrapper{
    margin: 0 0rem;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 15rem; /* Set the height of the carousel to 500px */
  }

  /* .join_us{
    font-size: 0.7rem;
  }

  .catalyst h2{
    font-size: 1.2rem;
  }

  .catalyst-e{
    display: none;
  } */
}

@media only screen and (max-width: 769px){
  .wrapper{
    margin: 0 0rem;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 15rem; /* Set the height of the carousel to 500px */
  }
}

@media only screen and (max-width: 1026px){
  .wrapper{
    margin: 0 0;
  }

  .carousel_slide {
    overflow: hidden;
    position: relative;
    height: 20rem; /* Set the height of the carousel to 500px */
  }
}

